html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

html,
body,
.game-canvas {
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 400px;
    max-height: 800px;
}

.game-canvas {
    cursor: pointer;
}